@font-face {
  font-family: Overpass;
  font-weight: normal;
  font-style: normal;
  src: url('../assets/fonts/overpass-regular.woff2');
}

@font-face {
  font-family: Overpass;
  font-weight: 600;
  font-style: normal;
  src: url('../assets/fonts/overpass-semibold.woff2');
}

@font-face {
  font-family: Overpass;
  font-weight: 700;
  font-style: normal;
  src: url('../assets/fonts/overpass-bold.woff2');
}