@use "reset";
@use "themes/dark";
@use "themes/light";
@use "variables/global";
@use "fonts";

html {
  font-size: 10px;
}

.App {
  min-height: 100vh;
  font: var(--font-s);
  color: var(--basic-primary);
  background: var(--bg-primary)
}

.navbar {
  height: 104px;
  color: var(--basic-secondary-1);
  background: white
}