@use "reset";
@use "themes/dark";
@use "themes/light";
@use "variables/global";
@use "fonts";

html {
  font-size: 10px;
}

.App {
  min-height: 100vh;
  font: var(--font-s);
  color: var(--basic-primary);
  background: var(--bg-primary)
}

.navbar {
  height: 104px;

  color: white;
  text-align: center;

  background: var(--navbar-bg);
  backdrop-filter: blur(10px);
  border-top-left-radius: 3.2rem;
  border-top-right-radius: 3.2rem;
  box-shadow: 0 -5px 10px rgb(0 0 0 / 30%),
  0 -8px 20px rgb(56 58 139 / 30%),
  0 -6px 20px rgb(255 200 150 / 10%);

}