.DatePicker {
  position: relative;

  &_fullWidth {
    width: 100%;

    .react-datepicker-wrapper {
      width: 100%;
    }
  }
}


.react-datepicker-popper {
  top: 76px !important;
  bottom: 0 !important;
  transform: translate(0, 0) !important;
}


.react-datepicker {
  max-width: 100%;

  font: var(--font-m);
  color: var(--basic-primary);

  background: var(--bg-primary);
  box-shadow: var(--shadow-primary);
}

.react-datepicker__month-container {
  width: 30rem;
}


.react-datepicker__week, .react-datepicker__day-names, .datepicker__header__dropdown, {
  display: flex;
  justify-content: space-between;
}


.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  width: 3rem;
  padding: 1.2rem 0;
  border-radius: 0.7rem;

}

.react-datepicker-time__header {
  font: var(--font-m);
  color: var(--basic-primary);
}

.react-datepicker__time-list-item {
  &:hover {
    color: var(--basic-accent);
    background: var(--basic-secondary-5) !important;
  }
}


.react-datepicker__triangle {
  display: none;
}

.react-datepicker__day.react-datepicker__day--keyboard-selected {
  padding: 2rem 0;
  border: none;
  border-radius: 0.7rem;

  line-height: 0;
  color: var(--basic-primary);

  background-color: var(--bg-accent-1);
}

.react-datepicker__day.react-datepicker__day--keyboard-selected:hover {
  border: none;
  border-radius: 0.7rem;
  color: var(--basic-accent);
  background-color: var(--brand-accent-2);

}

.react-datepicker-popper .react-datepicker__navigation {
  padding-top: 12px;
  color: #000;
}

.react-datepicker__header {
  border-bottom: solid 0.2rem var(--brand-primary) !important;
  background: var(--bg-primary);

}

.react-datepicker__time-list {
  background: var(--bg-primary);
}

.react-datepicker__month-option, .react-datepicker__year-option {
  padding: 0.3rem 0;
  color: var(--basic-primary) !important;

  &:hover {
    background: var(--basic-secondary-3)
  }
}

.react-datepicker__month-dropdown, .react-datepicker__year-dropdown {
  border: 0.1rem solid var(--basic-secondary-2);
  background: var(--bg-primary);
  box-shadow: var(--shadow-primary);

}

.react-datepicker__current-month {
  font: var(--font-m);
  color: var(--basic-primary);
  text-transform: uppercase;
}

.react-datepicker__day.react-datepicker__day--today {
  padding: 2rem 0;
  border: solid 0.1rem var(--basic-secondary-3);
  border-radius: 0.7rem;

  line-height: 0;
  color: var(--basic-accent);
  text-align: center;

  background-color: var(--basic-secondary-3) !important;

  &:hover {
    border-radius: 0.7rem;
  }

}

.react-datepicker__day.react-datepicker__day--selected {
  border: none;
  border-radius: 0.7rem;
  color: var(--basic-primary) !important;
  background: var(--brand-secondary) !important;
}

.react-datepicker__day, .react-datepicker__day-name {
  color: var(--basic-primary);
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
  border: none;
  border-radius: 0.7rem !important;
  color: var(--basic-accent) !important;
  background-color: var(--brand-primary) !important;
}


.react-datepicker__navigation-icon::before {
  border-color: var(--basic-secondary-3);
}

.react-datepicker__day:not([aria-disabled="true"]):hover, .react-datepicker__month-text:not([aria-disabled="true"]):hover, .react-datepicker__quarter-text:not([aria-disabled="true"]):hover, .react-datepicker__year-text:not([aria-disabled="true"]):hover {
  background: transparent;
}