.NavbarLogoutButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;

  font-weight: 400;

  &-Icon {
    margin: 0 0.4rem;
    padding: 0.4rem;
    transition: var(--default-transition);

    @media (min-width: $md-breakpoint) {
      border-radius: 0;

      &:hover {
        box-shadow: unset;
      }

      &_collapsed {
        border-radius: 50%;

        &:hover {
          box-shadow: var(--shadow-secondary);
        }
      }
    }
  }

  @media (min-width: $md-breakpoint) {
    flex-direction: row;
    margin: unset;
    &#{&} {
      &:hover {
        box-shadow: none;
      }
    }
  }
}
