.NavbarLogoutButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  &#{&} {
    &:hover {
      box-shadow: none;
    }
  }


  &-Icon {
    margin: 0 0.8rem;
  }


  @media (min-width: $md-breakpoint) {
    flex-direction: row;
  }
}