.NavbarLogoutButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0.8rem 0;

  &:hover {
    color: var(--brand-primary);
  }

  &-Icon {
    margin: 0 0.8rem;
  }


  @media (min-width: $md-breakpoint) {
    flex-direction: row;
  }
}