.Button {
  $parent: &;

  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: space-between;

  width: fit-content;
  border-radius: var(--border-rad-1);

  font: var(--font-m);
  font-weight: 600;
  text-decoration: none;

  transition: var(--default-transition);

  &-Content {
    margin: 0 auto;
  }

  &_variant {
    &_clear {
      margin: 0;
      padding: 0;
      border: none;

      color: var(--basic-primary);

      background: none;
    }

    &_filled {
      border: none;
      color: var(--basic-accent);
      background: var(--brand-primary);

      #{$parent}_disabled {
        color: var(--basic-accent);
        background: var(--basic-secondary-4);
      }
    }

    &_warn {
      border: none;
      color: var(--basic-accent);
      background: var(--alert);

      #{$parent}_disabled {
        color: var(--basic-accent);
        background: var(--basic-secondary-4);
      }
    }

    &_outlined {
      border: var(--border-style-1) var(--brand-primary);
      color: var(--brand-primary);
      background: var(--basic-accent);

      #{$parent}_disabled {
        border: var(--border-style-1) var(--basic-secondary-4);
        color: var(--basic-secondary-4);
      }
    }
  }

  &_size {
    &_sm {
      &:not(.Button_variant_clear) {
        padding: 0.8rem 1.6rem;
      }
    }

    &_md {
      font: var(--font-m);
      font-weight: 600;

      &:not(.Button_variant_clear) {
        padding: 0.8rem 1.6rem;
      }
    }
  }

  &_fullWidth {
    width: 100%;
  }

  &_disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &-AddonLeft,
  &-AddonRight {
    display: flex;
  }

  @media (hover: hover) {
    &:not(#{$parent}_disabled):hover {
      cursor: pointer;
      box-shadow: var(--shadow-primary);
    }

    &_variant {
      &_filled:not(#{$parent}_disabled):hover {
        background: var(--brand-accent-2);
        box-shadow: var(--shadow-primary);
      }

      &_warn:not(#{$parent}_disabled):hover {
        color: var(--brand-primary);
        background: var(--brand-accent-1);
        box-shadow: var(--shadow-primary);
      }

      &_outlined:not(#{$parent}_disabled):hover {
        border: 0.1rem solid var(--basic-accent);
        color: var(--basic-accent);
        background: var(--brand-primary);
        box-shadow: var(--shadow-secondary);
      }

      &_clear:not(#{$parent}_disabled):hover {
        color: var(--brand-primary-light);
        box-shadow: var(--shadow-clear);
      }
    }
  }
}
