.Button {
  display: flex;
  gap: 0.4rem;

  border-radius: var(--border-rad-1);

  font-weight: 600;
  text-decoration: none;

  &_variant {
    &_clear {
      margin: 0;
      padding: 0;
      border: none;

      color: var(--basic-primary);

      background: none;
    }

    &_filled {
      border: none;
      color: var(--basic-accent);
      background: var(--brand-primary);

      &:disabled {
        color: var(--basic-accent);
        background: var(--basic-secondary-4);
      }
    }

    &_outlined {
      border: var(--border-style-1) var(--brand-primary);
      color: var(--brand-primary);
      background: var(--basic-accent);

      &:disabled {
        border: var(--border-style-1) var(--basic-secondary-4);
        color: var(--basic-secondary-4);
      }
    }
  }

  &_size {
    &_sm {
      font: var(--font-s);

      &:not(.Button_variant_clear) {
        padding: 0.8rem 1.6rem;
      }
    }

    &_md {
      font: var(--font-m);
      font-weight: 600;

      &:not(.Button_variant_clear) {
        padding: 0.8rem 1.6rem;
      }
    }
  }

  &_fullWidth {
    width: 100%;
  }

  &_disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &-AddonLeft,
  &-AddonRight {
    display: flex;
  }

  @media (hover: hover) {
    &:not(:disabled):hover {
      cursor: pointer;
      transition: var(--default-transition);
    }

    &_variant {
      &_filled:not(:disabled):hover {
        color: var(--brand-primary);
        background: var(--basic-accent);
      }

      &_outlined:not(:disabled):hover {
        border: 0.1rem solid var(--basic-accent);
        color: var(--basic-accent);
        background: var(--brand-primary);
      }
    }
  }
}
