.IconComponent {
  color: currentcolor;

  &.IconButton {
    cursor: pointer;

    padding: 0;
    border: none;

    color: currentcolor;

    background: none;
    outline: none;

    transition: var(--default-transition);
  }
}
