.AppLink {
  text-decoration: none;
  transition: var(--default-transition);

  &_primary {
    color: var(--basic-primary);

    @media (hover: hover) {
      &:hover {
        color: var(--brand-primary);
      }
    }
  }
}
