.dark {
  --basic-primary: #e0d9cf;
  --basic-accent: #2a2520;
  --basic-secondary-1: #3b342e;
  --basic-secondary-2: #5d534a;
  --basic-secondary-3: #897e73;
  --basic-secondary-4: #b3a699;
  --basic-secondary-5: #cfc3b5;

  --brand-primary: #a0765b;
  --brand-primary-light: #c99b7a;
  --brand-secondary: #8c674d;
  --brand-secondary-light: #a78062;
  --brand-accent-1: #d6a89b;
  --brand-accent-2: #b89c7e;
  --brand-accent-3: #c5ab77;

  --alert: #b45f5f;

  --bg-primary: #1e1b17;
  --bg-secondary: #2c2925;
  --bg-accent-1: #4f4034;
  --bg-accent-2: #6b584a;
  --bg-accent-3: #8c7260;
  --bg-accent-4: #a48c72;
  --bg-accent-5: #c3a98e;

  --navbar-bg: #2a2520;

  --shadow-primary: var(--box-shadow-1) rgb(160 118 91 / 30%);
  --shadow-secondary: var(--box-shadow-2) rgb(96 72 54 / 30%);
  --shadow-clear: var(--box-shadow-3) rgb(160 118 91 / 20%);


  --shadow-1: 0 -0.1rem 0.5rem rgb(160 118 91 / 10%), 0 0.1rem 0.3rem rgb(160 118 91 / 15%), 0 0.2rem 0.6rem rgb(160 118 91 / 20%);
  --shadow-2: 0 -0.2rem 0.6rem rgb(160 118 91 / 12%), 0 0.2rem 0.4rem rgb(160 118 91 / 18%), 0 0.4rem 0.8rem rgb(160 118 91 / 25%);
  --shadow-3: 0 -0.3rem 0.7rem rgb(160 118 91 / 14%), 0 0.3rem 0.6rem rgb(160 118 91 / 20%), 0 0.6rem 1rem rgb(160 118 91 / 28%);
  --shadow-4: 0 -0.4rem 0.8rem rgb(160 118 91 / 16%), 0 0.4rem 0.8rem rgb(160 118 91 / 25%), 0 0.8rem 1.2rem rgb(160 118 91 / 32%);
  --shadow-5: 0 -0.5rem 1rem rgb(160 118 91 / 18%), 0 0.5rem 1rem rgb(160 118 91 / 28%), 0 1rem 1.5rem rgb(160 118 91 / 38%);
  --shadow-6: 0 -0.6rem 1.2rem rgb(160 118 91 / 20%), 0 0.6rem 1.2rem rgb(160 118 91 / 30%), 0 1.2rem 1.8rem rgb(160 118 91 / 42%);


}
