/* stylelint-disable selector-class-pattern */
.dark {
  // Basics
  --basic-primary: #FAFAFA;
  --basic-accent: #FFF;
  --basic-secondary-1: #2E313F;
  --basic-secondary-2: #6C788C;
  --basic-secondary-3: #898D9E;
  --basic-secondary-4: #B0B2C3;

  // Colors
  --brand-primary: #383A8B;
  --brand-primary-light: #716EE3;
  --brand-secondary: #2C6E72;
  --brand-secondary-light: #449A9F;
  --brand-accent-1: #D27A7A;
  --brand-accent-2: #72B0D3;
  --brand-accent-3: #C8A24E;

  --alert: #D06666;

  // Backgrounds
  --bg-primary: #2A2A2A;
  --bg-secondary: #0F1016;
  --bg-accent-1: #4B4FBD;
  --bg-accent-2: #306A6D;
  --bg-accent-3: #BF6A6A;
  --bg-accent-4: #B39241;
  --bg-accent-5: #5F97B5;
}