/* stylelint-disable selector-class-pattern */
.dark {
  // Basics
  --basic-primary: #fafafa;
  --basic-accent: #fff;
  --basic-secondary-1: #2e313f;
  --basic-secondary-2: #6c788c;
  --basic-secondary-3: #1f1e1e;
  --basic-secondary-4: #b0b2c3;
  --basic-secondary-5: #3a3a3a;

  // Colors
  --brand-primary: #383a8b;
  --brand-primary-light: #716ee3;
  --brand-secondary: #2c6e72;
  --brand-secondary-light: #449a9f;
  --brand-accent-1: #d27a7a;
  --brand-accent-2: #72b0d3;
  --brand-accent-3: #c8a24e;

  --alert: #d06666;

  // Backgrounds
  --bg-primary: #2a2a2a;
  --bg-secondary: #0f1016;
  --bg-accent-1: #4b4fbd;
  --bg-accent-2: #306a6d;
  --bg-accent-3: #bf6a6a;
  --bg-accent-4: #b39241;
  --bg-accent-5: #5f97b5;

  --navbar-bg: #2e2e2e;


  --shadow-primary: var(--box-shadow-1) rgb(56 58 139 / 30%);
  --shadow-secondary: var(--box-shadow-2) rgb(88 92 229 / 30%);
  --shadow-clear: var(--box-shadow-3) rgb(88 92 229 / 20%);
}
