/* stylelint-disable selector-class-pattern */
.light {
  // Basics
  --basic-primary: #0f2851;
  --basic-accent: #fff;
  --basic-secondary-1: #e5e6ee;
  --basic-secondary-2: #415371;
  --basic-secondary-3: #898d9e;
  --basic-secondary-4: #b0b2c3;
  --basic-secondary-5: #e0e0e0;

  // Colors
  --brand-primary: #585ce5;
  --brand-primary-light: #a1a3f6;
  --brand-secondary: #58c6cd;
  --brand-secondary-light: #58c6cd;
  --brand-accent-1: #eec1c1;
  --brand-accent-2: #a6d0ee;
  --brand-accent-3: #f2d382;

  --alert: #ef8b8b;

  // TODO: add more consistency

  // Backgrounds
  --bg-primary: #fafaff;
  --bg-secondary: #f0f1f9;
  --bg-accent-1: #d0d1ff;
  --bg-accent-2: #c9ebed;
  --bg-accent-3: #f5dede;
  --bg-accent-4: #fbecc4;
  --bg-accent-5: #cfebff;

  --navbar-bg: #fff;

  --shadow-primary: var(--box-shadow-1) rgb(88 92 229 / 30%);
  --shadow-secondary: var(--box-shadow-2) rgb(56 58 139 / 30%);
  --shadow-clear: var(--box-shadow-3) rgb(88 92 229 / 20%);
}
