/* stylelint-disable selector-class-pattern */
.light {
  --basic-primary: #4a3d34;
  --basic-accent: #fff;
  --basic-secondary-1: #f2e8dc;
  --basic-secondary-2: #dac7af;
  --basic-secondary-3: #b8a189;
  --basic-secondary-4: #927d67;
  --basic-secondary-5: #7b6653;

  --brand-primary: #b0845f;
  --brand-primary-light: #d1a37f;
  --brand-secondary: #c89c6d;
  --brand-secondary-light: #e3b88a;
  --brand-accent-1: #f3c8a5;
  --brand-accent-2: #e6b791;
  --brand-accent-3: #dbc089;

  --alert: #e07c7c;

  --bg-primary: #fdfbf7;
  --bg-secondary: #f6f1ea;
  --bg-accent-1: #efe5da;
  --bg-accent-2: #e5d5c2;
  --bg-accent-3: #d8c3af;
  --bg-accent-4: #c9ae96;
  --bg-accent-5: #b79a81;

  --navbar-bg: #fff;

  --shadow-primary: var(--box-shadow-1) rgb(176 132 95 / 30%);
  --shadow-secondary: var(--box-shadow-2) rgb(200 156 109 / 30%);
  --shadow-clear: var(--box-shadow-3) rgb(176 132 95 / 20%);

  --shadow-1: 0 -0.1rem 0.5rem rgb(176 132 95 / 10%), 0 0.1rem 0.3rem rgb(176 132 95 / 15%), 0 0.2rem 0.6rem rgb(176 132 95 / 20%);
  --shadow-2: 0 -0.2rem 0.6rem rgb(176 132 95 / 12%), 0 0.2rem 0.4rem rgb(176 132 95 / 18%), 0 0.4rem 0.8rem rgb(176 132 95 / 25%);
  --shadow-3: 0 -0.3rem 0.7rem rgb(176 132 95 / 14%), 0 0.3rem 0.6rem rgb(176 132 95 / 20%), 0 0.6rem 1rem rgb(176 132 95 / 28%);
  --shadow-4: 0 -0.4rem 0.8rem rgb(176 132 95 / 16%), 0 0.4rem 0.8rem rgb(176 132 95 / 25%), 0 0.8rem 1.2rem rgb(176 132 95 / 32%);
  --shadow-5: 0 -0.5rem 1rem rgb(176 132 95 / 18%), 0 0.5rem 1rem rgb(176 132 95 / 28%), 0 1rem 1.5rem rgb(176 132 95 / 38%);
  --shadow-6: 0 -0.6rem 1.2rem rgb(176 132 95 / 20%), 0 0.6rem 1.2rem rgb(176 132 95 / 30%), 0 1.2rem 1.8rem rgb(176 132 95 / 42%);


  --shadow-color-top: rgb(176 132 95 / 10%);
  --shadow-color-mid: rgb(176 132 95 / 15%);
  --shadow-color-main: rgb(176 132 95 / 20%);
}
