.Popup {
  position: absolute;

  &_position {
    &_bottom-right {
      top: 100%;
      right: 0;
      margin-top: 0.5rem;
    }

    &_bottom-left {
      top: 100%;
      left: 0;
      margin-top: 0.5rem;
    }

    &_top-right {
      right: 0;
      bottom: 100%;
      margin-bottom: 0.5rem;
    }

    &_top-left {
      bottom: 100%;
      left: 0;
      margin-bottom: 0.5rem;
    }
  }
}
