.MainLayout {
  overflow-y: auto;
  display: grid;
  grid-template-areas:
    'header'
    'content'
    'navbar';
  grid-template-rows:
    auto calc(100vh - var(--navbar-height) - var(--header-height))
    var(--navbar-height);

  padding: 0 2.4rem;

  &-Navbar {
    position: fixed;
    z-index: var(--navbar-z-index);
    right: 0;
    bottom: 0;
    left: 0;

    grid-area: navbar;

    @media (min-width: $md-breakpoint) {
      position: relative;
    }
  }


  &-Content {
    grid-area: content;
    height: 100vh;
  }

  &-Header {
    grid-area: header;
  }

  @media (min-width: $md-breakpoint) {
    grid-gap: 2.4rem;
    grid-template:
    'header header header' var(--header-height)
    'navbar content content' calc(100vh - var(--header-height))
    / minmax(8rem, 20rem) auto;
  }
}
