.MainLayout {
  display: grid;
  grid-template-areas:
    'header'
    'content'
    'navbar';
  grid-template-rows:
    auto calc(100svh - var(--navbar-height) - var(--header-height))
    var(--navbar-height);


  &-Navbar {
    position: fixed;
    z-index: var(--navbar-z-index);
    right: 0;
    bottom: 0;
    left: 0;

    grid-area: navbar;


    @media (min-width: $md-breakpoint) {
      position: relative;
      margin-top: 2.4rem;
    }
  }

  &-Content {
    overflow-y: auto;
    grid-area: content;
    height: 100vh;
    padding: 1.6rem;

    @media (min-width: $md-breakpoint) {
      padding: 2.4rem 2.4rem 2.4rem 0;

    }
  }

  &-Header {
    grid-area: header;
  }

  @media (min-width: $md-breakpoint) {
    grid-column-gap: 2.4rem;
    grid-template:
      'header header header' var(--header-height)
      'navbar content content' calc(100vh - var(--header-height))
      / minmax(8rem, 20rem) auto;
  }
}
