.Flex {
  display: flex;
}

.Flex_direction {
  &_row {
    flex-direction: row;
  }

  &_column {
    flex-direction: column;
  }
}

.Flex_align {
  &_start {
    align-items: flex-start;
  }

  &_center {
    align-items: center;
  }

  &_end {
    align-items: end;
  }
}

.Flex_justify {
  &_start {
    justify-content: flex-start;
  }

  &_center {
    justify-content: center;
  }

  &_between {
    justify-content: space-between;
  }

  &_end {
    justify-content: flex-end;
  }
}

.Flex_wrap {
  &_wrap {
    flex-wrap: wrap;
  }

  &_nowrap {
    flex-wrap: nowrap;
  }
}

.Flex_gap {
  &_4 {
    gap: 0.4rem;
  }

  &_8 {
    gap: 0.8rem;
  }

  &_16 {
    gap: 1.6rem;
  }

  &_24 {
    gap: 2.4rem;
  }

  &_32 {
    gap: 3.2rem;
  }

  &_64 {
    gap: 6.4rem;
  }
}
